.img-card {
  width: 300px;
  height: 300px;
}
/* Se non stai già importando Bootstrap: */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer {
  margin-top: auto;
}
/* Bottone dei preferiti */
#btn-favorite-homePage {
  background-color: #f8f9fa;

  font-size: 20px;
  padding: 15px 15px;
  position: absolute;
  top: -4%;
  right: 2px;
}
